In [205]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [206]:
import pandas as pd

from itertools import combinations

from interfaces.db import DB

In [207]:
db = DB()

In [261]:
min_date = '2018-01-01'
max_date = '2019-01-01'

# fields = ['FundingRoundID', 'FundingRoundType', 'FundingRoundName', 'FundingRoundDate', 'FundingAmount_USD', 'CB_InvestorCount', 'City', 'Region', 'CountryISO3']
# columns = ['fr_id', 'fr_type', 'fr_name', 'fr_date', 'fr_amount', 'fr_n_investors', 'fr_city', 'fr_region', 'fr_country']
fields = ['FundingRoundID', 'FundingRoundDate', 'FundingAmount_USD', 'CB_InvestorCount']
columns = ['fr_id', 'fr_date', 'fr_amount', 'fr_n_investors']
frs = pd.DataFrame(db.get_funding_rounds(min_date=min_date, max_date=max_date, fields=fields), columns=columns)

In [262]:
frs

,fr_id,fr_date,fr_amount,fr_n_investors
0,00015b5a-54e6-4285-9c9e-2374cb608dd7,2018-01-01,NaN,1.0
1,00041522-caa6-48d9-b78d-60224a11f992,2018-02-12,5000000.0,NaN
2,0005a8e9-d910-405c-9f47-5c11cd952870,2018-10-14,3400000.0,1.0
3,0009e556-8abe-4fda-8f08-3b63bce06d70,2018-09-26,NaN,1.0
4,000bc110-4778-4a82-887c-c7c576cd6179,2018-10-10,250000.0,2.0
...,...,...,...,...
48334,fff65475-5026-4578-bb31-486605181eb1,2018-11-01,NaN,2.0
48335,fff7c23f-81b1-433a-9314-d4176b629ba0,2018-12-01,10000000.0,1.0
48336,fff9030d-ff4c-4e89-883c-6966dd3661b6,2018-03-30,1590680.0,1.0
48337,ffface20-141b-42ac-a82a-8ef0461c1c29,2018-05-01,NaN,1.0
48338,ffffe563-0029-4523-ac49-5384d064b878,2018-05-07,100000.0,2.0

In [263]:
frs['fr_amount_per_investor'] = frs['fr_amount'] / frs['fr_n_investors']

In [264]:
frs

,fr_id,fr_date,fr_amount,fr_n_investors,fr_amount_per_investor
0,00015b5a-54e6-4285-9c9e-2374cb608dd7,2018-01-01,NaN,1.0,NaN
1,00041522-caa6-48d9-b78d-60224a11f992,2018-02-12,5000000.0,NaN,NaN
2,0005a8e9-d910-405c-9f47-5c11cd952870,2018-10-14,3400000.0,1.0,3400000.0
3,0009e556-8abe-4fda-8f08-3b63bce06d70,2018-09-26,NaN,1.0,NaN
4,000bc110-4778-4a82-887c-c7c576cd6179,2018-10-10,250000.0,2.0,125000.0
...,...,...,...,...,...
48334,fff65475-5026-4578-bb31-486605181eb1,2018-11-01,NaN,2.0,NaN
48335,fff7c23f-81b1-433a-9314-d4176b629ba0,2018-12-01,10000000.0,1.0,10000000.0
48336,fff9030d-ff4c-4e89-883c-6966dd3661b6,2018-03-30,1590680.0,1.0,1590680.0
48337,ffface20-141b-42ac-a82a-8ef0461c1c29,2018-05-01,NaN,1.0,NaN
48338,ffffe563-0029-4523-ac49-5384d064b878,2018-05-07,100000.0,2.0,50000.0

In [265]:
fr_ids = list(frs['fr_id'])

In [266]:
investees_frs = pd.DataFrame(db.get_investees_funding_rounds(fr_ids=fr_ids), columns=['investee_id', 'fr_id'])

In [267]:
org_investors_frs = pd.DataFrame(db.get_org_investors_funding_rounds(fr_ids=fr_ids), columns=['investor_id', 'fr_id'])

In [268]:
person_investors_frs = pd.DataFrame(db.get_person_investors_funding_rounds(fr_ids=fr_ids), columns=['investor_id', 'fr_id'])

In [269]:
investors_frs = pd.concat([org_investors_frs, person_investors_frs])

In [270]:
investors_frs

,investor_id,fr_id
0,00020a85-a4c1-43dc-9fa0-1217fceb8a9a,dc57d471-abce-4ba9-b6c7-a7fbbda1be76
1,0003f244-79d0-6178-353e-33dabaf3b2c6,03798d6c-6a2a-470e-873d-7070d7da66c3
2,0003f244-79d0-6178-353e-33dabaf3b2c6,04218949-9c5d-4da5-b0e9-22178dc03021
3,0003f244-79d0-6178-353e-33dabaf3b2c6,10e46d06-47f4-4e22-b8fd-0c74d1820bcd
4,0003f244-79d0-6178-353e-33dabaf3b2c6,35d3964f-e5ed-466e-8a26-70270282cf3c
...,...,...
8064,ffc84602-9456-87d9-c539-7dd16b14df89,53e3c200-d811-4e3b-9d36-96155d592dc7
8065,ffdfc425-c8da-8a83-32d5-e64d18166bd1,10d74a37-e698-45f7-9cfb-d1b144802a9d
8066,ffdfc425-c8da-8a83-32d5-e64d18166bd1,546ba51d-a350-4a84-ac08-c604810c9f55
8067,ffdfc425-c8da-8a83-32d5-e64d18166bd1,f92ad5bb-9b3c-4065-940c-b451daba587e
8068,fff689b3-87ce-4c97-aee2-5c0e78ffe68e,5d7888e8-b937-4a83-99d4-e4c83a73d713

In [271]:
def combine(group):
    return pd.DataFrame.from_records(combinations(group['investor_id'], 2))

%time investor_pairs = investors_frs.groupby('fr_id').apply(combine).reset_index(level=0)

CPU times: user 1min 25s, sys: 185 ms, total: 1min 25s
Wall time: 1min 25s

In [272]:
investor_pairs.columns = ['fr_id', 'investor_id_1', 'investor_id_2']
investor_pairs = investor_pairs.merge(frs, how='left', on='fr_id')
investor_pairs = investor_pairs.to_dict(orient='records')

In [273]:
investor_edges = {}
for pair in investor_pairs:
    key = f"{pair['investor_id_1']}x{pair['investor_id_2']}"
    
    fr = {
        'fr_id': pair['fr_id'],
        'date': pair['fr_date'],
        'amount': pair['fr_amount'],
        'n_investors': pair['fr_n_investors'],
        'amount_per_investor': pair['fr_amount_per_investor']
    }
    
    if key in investor_edges:
        investor_edges[key]['d'].append(fr)
    else:
        investor_edges[key] = {
            's': pair['investor_id_1'],
            't': pair['investor_id_2'],
            'd': [fr]
        }

In [274]:
investor_edges = [(investor_edges[key]['s'], investor_edges[key]['t'], {'hist': investor_edges[key]['d']}) for key in investor_edges]

In [275]:
len(investor_edges)

99488

In [276]:
import networkx as nx

G = nx.Graph()

In [277]:
G.add_edges_from(investor_edges)
G.remove_nodes_from(list(nx.isolates(G)))

In [279]:
len(G.nodes)

18281

In [280]:
len(G.edges)

99488

In [281]:
cc_sizes = [len(c) for c in sorted(nx.connected_components(G), key=len, reverse=True)]

In [282]:
len(cc_sizes)

1105

In [284]:
cc_sizes[:5]

[15279, 16, 12, 12, 11]